div.d0 {
    font-size: 25px;
    color: darkorange
}

div.d1 {
    font-size: 20px;
    color: purple
}

div.d2 {
    font-size: 18px;
    color: forestgreen
}

body {
    Background-color: LightBlue
    
    ;
}

