div.d0 {
    font-size: 25px;
    color: navajowhite;
}

div.d1 {
    font-size: 20px;
    color: purple;
}

div.d2 {
    font-size: 18px;
    color: forestgreen;
}

body {
    Background-color:LightBlue;
}

a:link {
    color: navajowhite;
}
a:visited {
    color: SandyBrown;
}

a:hover {
    color: orange;
}

a:active {
    color: chocolate;
}

body {
    width: 800px;
}