div.d0 {
    font-size: 25px;
    color: darksalmon;
}

div.d1 {
    font-size: 20px;
    color: purple;
}

div.d2 {
    font-size: 18px;
    color: forestgreen;
}

body {
    Background-color:LightBlue;
}

a:link {
    color: navajowhite;
}
a:visited {
    color: SandyBrown;
}

a:hover {
    color: orange;
}

a:active {
    color: chocolate;
}

body {
    width: auto;
}

img {
    width:auto;
}

@media screen and (max-width: 600px) {
    div.d0 {
      color: forestgreen;
    }
}
